<% if resource.errors.any? %>
  <% resource.errors.full_messages.each do |message| %>
    <div class="ui negative message">
      <div class="header">
        <%= message %>
      </div>
    </div>
  <% end %>
<% end %>
