<div class="mt-12">
    <% if @groups.nil? %>
    <h2>You have no categories!</h2>
    <% else %>
    <h2>Your Categories</h2>
      <div class="md:grid md:grid-cols-4 md:mx-auto md:my-auto md:gap-4">
        <% @groups.each do |group| %>
        <%= render 'group-card', g: group %>
        <% end %>
      </div>
    <% end %>
</div>