    <% if @groups.nil? %>
    <h2>You have no categories!</h2>
    <% else %>
    <h2>Your Categories</h2>
        <% @groups.each do |group| %>
        <%= render 'group-card', g: group %>
        <% end %>
    <% end %>