<div class="center-me">
  <h1>Darn it! We failed you and we're sorry!</h1>
  <div class="ui card">
    <div class="image">
      <img src="app/assets/images/error.webp">
    </div>
    <div class="content">
      <div class="description">
          Something went wrong!
      </div>
    </div>
  </div>
</div>>