<div class="md:container md:mx-auto mt-12 flex flex-col justify-center items-center">
<h1 class="font-black my-6 text-xl">Darn it! We failed you and we're sorry!</h1>
<%= render 'error', image: 'error.png' %>
</div>