<div class="md:container md:mx-auto mt-12 flex flex-col justify-center items-center">
<h1 class="font-black my-6 text-xl">A classic 404 error. Try another location!</h1>
<%= render 'error', image: '404.png' %>
</div>
