<div class="item pad-top-item">
    <%= image_tag "expense.png", class: "ui avatar image" %>
    <div class="content">
      <a class="header"><%= expense.name %></a>
      <div class="description">$<%= expense.amount %></div>
    </div>
  </div>