<% if @uncategorized_expenses.nil? %>
    <h2>You have no uncategorized expenses!</h2>
<% else %>
    <h2>Uncategorized Expenses</h2>
    <% @uncategorized_expenses.each do |expense| %>
    <%= render 'expenses/expense-card', expense: expense %>
    <% end %>
<% end %>